<p id="notice"><%= notice %></p>

<h1>Listing Articles</h1>

<div id="articles">
<% @articles.each do |article| %>
		<%= link_to article.title, article %>
		<%= simple_format(article.content) %>
		<p>
		Tags: <%= raw article.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %>
		</p>
		<%= link_to 'Show', article %>
		<%= link_to 'Edit', edit_article_path(article) %>
		<%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
		<br />
		<br />
<% end %>
</div>

<br>

<%= link_to 'All', articles_path %> |
<%= link_to 'New Article', new_article_path %> 
